@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-[#141319] text-white p-1 m-1 
}

@media (max-width: 640px) {
  #block {
    display: none;
  }
  #hidden {
    display: block;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}


.sha, 
.sha-1{
  box-shadow: -4px -4px 15px #f51523, 5px 5px 15px #f51524;
}

.scrollbar::-webkit-scrollbar{
  display: none;
}